/* .wrapper {
  width: 600px;
  height: 400px;
  background-color: aquamarine;
  position: relative;
  top: 10px;
  left: 10px;
} */

.box {
  position: sticky;
  top: 0;

  width: 200px;
  height: 200px;
  background-color: red;
}
.long {
  width: 100%;
  height: 1000px;
  background-color: gold;
}
