.members {
  width: 100%;
  /* border: 1px solid; */
  border-collapse: collapse;
}
.members td,
.members th {
  border: 1px solid #ddd;
  padding: 8px;
}
.members th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
.members tr:nth-child(even) {
  background-color: #f2f2f2;
}
.members tr:hover {
  background-color: #ddd;
}
